<!DOCTYPE html>
<html>
  <head>
    <title>Regime Switching Model Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
    <body ng-app="stockApp" ng-controller="mainController" ng-cloak class="ng-cloak">

      <div class="row" style="margin-top: 40px">
        <div class="col-md-offset-2 col-md-8">
          <div class="jumbotron">
            <div class="row">
              <div class="col-md-offset-2 col-md-4">
                <div class="btn-group pull-left" uib-dropdown is-open="isDropdownOpen">
                  <button id="single-button" type="button" class="btn dropdown-button" uib-dropdown-toggle ng-disabled="disabled" ng-model="selectedStock">
                    {{selectedStock}} <span class="fa fa-sort pull-right"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-repeat="stock in stocks" role="menuitem" ng-click="changeStock(stock)"><a href="#">{{stock}}</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <button type="button" ng-click="run()" class="btn pull-right">RUN <i class="fa fa-play-circle-o" aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="row" style="margin-top: 30px">
              <div class="col-md-12">
                  <div ng-if="!loading">
                    <h5 class="text-center">{{ description }}</h5>
                    <h1 ng-if="analyzedStock !== undefined">{{ analyzedStock.stockName }} </h1>
                    <div ng-if="analyzedStock" class="probabilities">
                      <div class="text-center">
                        <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
                        {{analyzedStock.riseProb}}%
                      </div>
                      <div class="text-center">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        {{analyzedStock.sameProb}}%
                      </div>
                      <div class="text-center">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                        {{analyzedStock.dropProb}}%
                      </div>
                    </div>
                  </div>
                  <div ng-if="loading">
                    <h1><span class="fa fa-spinner fa-spin"></span> This may take awhile</h1>
                    <h2 class="text-center">{{ analyzedStock.stockName }} is currently under analysis</h2>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    <!-- Dependencies -->
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- App -->
    <script src="/app.js"></script>
    <script src="/filters/stockChangeDescription.js"></script>
    <script src="/services/sockets.js"></script>
    <script src="/controllers/mainController.js"></script>

    </body>
</html>
